#backgroundPopup {
    display: none;
    position: fixed;
    _position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    /*border:1px solid #cecece;*/
    z-index: 5;
}

.content_main {
    display: none;
    left: 0;
    position: absolute;
    top: 30%;
    width: 100%;
    z-index: 9999;
}

.content_popup {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 5px solid #4A91C8;
    margin: 0 auto;
    position: relative;
    width: 530px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.heading_popup {
    background-color: #4A91C8;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 6px;
    padding-left: 2px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.heading_popup a {
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
}

.heading_popup a:hover {
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
}

.scroll-divPopup {
    padding-right: 5px;
    padding-left: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}